---
// Aquí va el java script
import Layout from "../layouts/Layout.astro"
import { GRADIENT_COLORS } from "../../constants/components/layout"
import Title from "../../components/Title.astro"
import ImageGallery from "../../components/layout/ImageGallery.astro"

const styles = {
    main: ""
}

// Imágenes random para el directorio
const imageItems = Array.from({ length: 12 }, (_, i) => {
    const ratios = ["1:1", "3:4", "4:3"] as const
    const randomRatio = ratios[Math.floor(Math.random() * ratios.length)]
    
    return {
        id: `image-${i + 1}`,
        src: `https://picsum.photos/400/400?random=${i + 1}`,
        alt: `Imagen del directorio ${i + 1}`,
        ratio: randomRatio,
        href: "#"
    }
})
---

<Layout gradientFrom={GRADIENT_COLORS.directorio.from} gradientTo={GRADIENT_COLORS.directorio.to}>
    <main class={styles.main}>
        <Title name="CONOCE TUS DERECHOS" />
        <div class="mt-12 w-full">
            <ImageGallery images={imageItems} />
        </div>
    </main>
</Layout>