---
// Aquí va el java script
import Layout from "../layouts/Layout.astro"
import { GRADIENT_COLORS } from "../../constants/components/layout"

const styles = {
    main: "min-w-screen"
}
---

<Layout gradientFrom={GRADIENT_COLORS.directorio.from} gradientTo={GRADIENT_COLORS.directorio.to}>
    <main class={styles.main}>
        Directorio
    </main>
</Layout>