---
import "../../styles/global.css";
import Background from "../../components/Background.astro";
import Navbar from "../../components/Navbar.astro";
import LogosSection from "../../components/LogosSection.astro";
import Footer from "../../components/layout/Footer.astro";
import HeadMeta from "../layouts/HeadMeta.astro";

interface Props {
  title?: string;
  gradientFrom?: string;
  gradientTo?: string;
}

const {
  title = "Red Viva",
  gradientFrom,
  gradientTo,
} = Astro.props as Props;
---

<html lang="es">
<head>
  <HeadMeta title={title} />
  <style>
    body {
      margin: 0;
      overflow-x: hidden;
      position: relative;
    }
  </style>
</head>
<body>
<LogosSection />
<Navbar />
<Background gradientFrom={gradientFrom} gradientTo={gradientTo} />
<div class="max-w-7xl mx-auto px-4 relative z-10 md:mt-14 lg:mt-22 w-full min-h-screen">
  <slot />
</div>
<Footer />
</body>
</html>