@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "ITCGothic";
  src: url("/fonts/SerifGothicStd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-itcgothic: "ITCGothic", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(46, 46, 46, 0.6) rgba(0, 0, 0, 0.1);
}