@import "tailwindcss";

@font-face {
  font-family: "ITCGothic";
  src: url("/fonts/SerifGothicStd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-itcgothic: "ITCGothic", sans-serif;
}

@keyframes row-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes row-out {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

::view-transition-new(row-*) {
    animation: row-in 0.3s ease-out;
}

::view-transition-old(row-*) {
    animation: row-out 0.3s ease-out;
}

::view-transition-group(row-*) {
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}