---
import Card from "../Card.astro";
import type { CardRatio } from "../../types/directorio/InterfaceTarjInformativas";

export interface ImageItem {
  id: string;
  src: string;
  alt?: string;
  ratio?: CardRatio;
  href?: string;
  tarjetaId?: number;
}

interface Props {
  images: ImageItem[];
}

const { images } = Astro.props as Props;
---

<div class="columns-1 md:columns-2 lg:columns-3  gap-3">
  {images.map((image, index) => (
    <Card
      src={image.src}
      alt={image.alt}
      ratio={image.ratio || "1:1"}
      href={image.href}
      tarjetaId={image.tarjetaId}
      class="break-inside-avoid mt-2"
      loading={index < 6 ? "eager" : "lazy"}
    />
  ))}
</div>
