---
import Card from "../Card.astro";

export interface ImageItem {
  id: string;
  src: string;
  alt?: string;
  ratio?: "1:1" | "3:4" | "4:3";
  href?: string;
}

interface Props {
  images: ImageItem[];
}

const { images } = Astro.props as Props;
---

<div class="columns-2 lg:columns-3 xl:columns-4 gap-3">
  {images.map((image) => (
    <Card
      src={image.src}
      alt={image.alt}
      ratio={image.ratio || "1:1"}
      href={image.href}
      class="break-inside-avoid"
    />
  ))}
</div>
