---
---

<div class=" hidden lg:flex flex-col justify-center items-center gap-2 my-12 flex-wrap absolute -top-10 -right-5 -rotate-2">
  <div class="w-50 h-24 bg-white  flex justify-center items-center shadow-lg mr-4">
    <img
      src="/logos/logo_instituto.png"
      alt="Logo Instituto"
      class="w-56 h-auto"
    />
  </div>
  
  <div class="w-50 h-24 bg-white  flex justify-center items-center shadow-lg">
    <img
      src="/logos/logo_ayuntamiento.png"
      alt="Logo Ayuntamiento"
      class="w-40 h-auto"
    />
  </div>
</div>
