---
import AdminLayout from "../layouts/AdminLayout.astro";
import CatalogosPage from "../../components/admin/catalogos/CatalogosPage.tsx";
---

<AdminLayout title="Catálogos - Admin">
    <div class="min-h-screen w-full">
        <CatalogosPage client:load />
    </div>
</AdminLayout>