---
import AdminLayout from "../layouts/AdminLayout.astro";
import DenunciasPage from "../../components/admin/denuncias/DenunciasPage.tsx";
---

<AdminLayout title="Denuncias - Admin">
  <div class="min-h-screen w-full">
    <DenunciasPage client:load />
  </div>
</AdminLayout>