---
// Aquí va el java script
import Layout from "../layouts/Layout.astro"

const styles = {
    main: "min-w-screen"
}
---

<Layout>
    <main class={styles.main}>
        Login
    </main>
</Layout>